GEMINI_API_KEY="HERE_PUT_YOUR_GEMINI_API_KEY"
OPENROUTER_API_KEY="API_KEY"
DATABASE_URL ="postgresql://postgres:devpassword@db:5432/feedrv"

# Security - token gen key!
ACCESS_SECRET_KEY=your-super-secret-key-min-32-characters-long-change-this-in-production
REFRESH_SECRET_KEY=your_super_secret_reresh_key
# JWT Configuration (Optional - defaults in app/auth.py)
# ACCESS_TOKEN_EXPIRE_MINUTES=30
# REFRESH_TOKEN_EXPIRE_DAYS=7

